@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,700;1,900&display=swap');


body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(203, 236, 217);
  overflow:hidden;
}
.home-body {
  height: 100vh;
}
.bg-red {
  background-color: #f7656a;
  color: #fff;
}
audio {
  width: 100%;
  outline: none;
}

.scroll {
  height: 100%;
  overflow: auto;
}
.curser {
  cursor: pointer;
}
.active {
  color: rgb(255, 0, 0) !important;
}

.iconPlayDiv{
  position: relative;
} 
.iconPlay {
  position: absolute;
  right: 1px;
}
.App {
  height:auto;
  overflow: auto;
}